<!DOCTYPE html>
<html lang="en" ng-app ng-init="quantita=1;prezzo=4;">
<head>
	<meta charset="UTF-8">
	<title>Esempio angularjs</title>

	<script src="bower_components/angular/angular.min.js"></script>

</head>
<body>
	
	<input type="text" name="addendo1" ng-model="quantita" ng-model-options="{updateOn: 'blur'}">
	<input type="text" name="addendo2" ng-model="prezzo" 
	ng-model-options="{updateOn: 'blur'}">
	<label  class="result">il totale è: {{quantita * prezzo}}</label>
	<label for="">{{quantita}}</label>

</body>
</html>