<!DOCTYPE html>
<html ng-app="sommatore" lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<!-- <script src="bower_components/jquery/dist/jquery.min.js"></script>
	<script src="assets/js/mymath.js"></script>
	<script src="assets/js/uiComponents.js"></script> -->
	<link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.css">
	<link rel="stylesheet" href="assets/css/style.css">
	<script src="bower_components/angular/angular.min.js"></script>
	<script src="assets/js/sommatoreController.js"></script>
	<script src="assets/js/inforAngularMiddleware.js"></script>
</head>
<body>
	<div ng-controller="sommatoreController">
		
		<input type="number" ng-model="addendo1"  > 
		<input type="number"  ng-model="addendo2" >
		<label id="result" ng-class="{red : coloredResult}">{{result}}</label>
		<button ng-click="calcola()">Calcola</button>
	</div>
	
	<div ng-controller="historyController">
		<h3>Storia   </h3>
		<h5>Eseguito già una volta? {{executedAlmostOneTime}}</h5>
			<ul>
				<li ng-repeat="item in history">{{item}}</li>
			</ul>	
	</div>


	<div class="formcontext">
		

		<form>
		    <div class="form-group">
		        <label for="exampleInputEmail1">Email address</label>
		        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
		        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
		    </div>
		    <div class="form-group">
		        <label for="exampleInputPassword1">Password</label>
		        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
		    </div>
		    <div class="form-check">
		        <label class="form-check-label">
		            <input type="checkbox" class="form-check-input"> Check me out
		        </label>
		    </div>
		    <button type="submit" class="btn btn-primary">Submit</button>
		</form>



	</div>




</body>

</html>