.red{
	color: red;
}
.formcontext{
	width: 70%;
	margin: 50px auto;
	padding: 20px;
	border : 1px solid gray;
	border-radius: 5%;
}

.dialog1{
	position: fixed;
	top:0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	background-color: rgba(0,0,0,0.7);
}
.content1{
	margin:0px auto;
	background-color: #fff;
}